@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
	--primary: #0f172a;
	--secondary: #fa02fc;
}
@tailwind base;
* {
	scrollbar-width: thick;
	scrollbar-color: var(--secondary) var(--primary);
}
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	scroll-behavior: smooth;
	color-scheme: dark;
}

/* Tailwind CSS styles */

@layer components {
	.paddingX {
		@apply sm:px-16 px-6;
	}
	.paddingY {
		@apply sm:py-16 py-6;
	}
	.padding {
		@apply sm:px-16 px-6 sm:py-16 py-10;
	}
	.heroHeadText {
		@apply font-black text-white lg:text-[80px] sm:text-[60px] xs:text-[50px] text-[40px] lg:leading-[98px] mt-2;
	}
	.heroSubText {
		@apply text-[#dfd9ff] font-medium lg:text-[30px] sm:text-[26px] xs:text-[20px] text-[16px] lg:leading-[40px];
	}
	.sectionHeading {
		@apply font-black md:text-[60px] sm:text-[50px] xs:text-[40px] text-[30px] tracking-widest text-theme animate-pulse;
	}
	.sectionSubHeading {
		@apply text-theme-secondary font-semibold sm:text-[18px] text-[14px]  uppercase tracking-widest italic;
	}
}
